[submodule "test/histories/example-handhistories"]
	path = test/histories/example-handhistories
	url = https://github.com/santiweight/example-handhistories.git
[submodule "test/example-handhistories"]
	path = test/example-handhistories
	url = https://github.com/santiweight/example-handhistories.git
